/* Variabili */
:root{
    --primary-color: #1ABC9C;
    --secondary-color: #2C3E50;
    --footer-color: #3A546D;
}


/* Resetet Rules */

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: currentColor;
}

/* Debug Rules */

.debug [class^="col"] {
    border: 1px dotted black;
    background-color: aqua;
}

.debug .container{
    border: 1px dotted black;
}

/* General */

.color-primary{
    color: var(--primary-color);
}

input, textarea {
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgb(133, 133, 133);
    margin-bottom: 5px;
    padding-bottom: 10px;
}  

/* Container Rules */

.container-small{
    max-width: 380px;
    margin: 0 auto;
}

@media screen and (min-width: 576px) {
    .container-small{
        max-width: 460px;
    }
}

@media screen and (min-width: 768px) {
    .container-small{
        max-width: 620px;
    }
}

@media screen and (min-width: 992px) {
    .container-small{
        max-width: 860px;
    }
}

@media screen and (min-width: 1200px) {
    .container-small{
        max-width: 1040px;
    }
}

/* Button Rules */

.btn-green{
    background-color: var(--primary-color);
    color: white;
}

/* Text Rules */

.title-big{
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    color: currentColor;
}

.title-medium{
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: currentColor;
}

.title-small{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: currentColor;
}

.title-footer{
    font-size: 17px;
    text-transform: uppercase;
}

.text-18{
    font-size: 18px;
}

/* Text Query */

@media screen and (min-width: 768px) {

    .title-big{
        font-size: 60px;
    }

    .title-medium{
        font-size: 50px;
    }

    .title-small{
        font-size: 25px;
    }

}

/* Star */

.star-icon{
    font-size: 1.8rem;
    color: white;
}

.box-star-icon{
    position: relative;
}

.box-star-icon::before {
    content: '';
    display: block;
    height: 4px;
    width: 16%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 30%;
}

.box-star-icon::after {
    content: '';
    display: block;
    height: 4px;
    width: 16%;
    background-color: white;
    position: absolute;
    top: 50%;
    right: 30%;
}

/* Header */

.main-header{
    background-color: var(--secondary-color);
    padding: 15px 0;
}

.main-header .navbar-brand{
    font-size: 29px;
    font-weight: 600;
    text-transform: uppercase;
}

.main-header .nav-link{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

/* Hero */

.hero-section{
    background-color: var(--primary-color);
}

.hero__img{
    width:227px;
}

/* Portfolio */

.portfolio-section{
    background-color: white;
}

.secondary-star .star-icon{
    color: var(--secondary-color);
}

.secondary-star.box-star-icon::before,
.secondary-star.box-star-icon::after{
    background-color: var(--secondary-color);
}

/* About */

.about-section{
    background-color: var(--primary-color);
}


/* Contact me */

.contact-me-section ::placeholder{
    color: var(--secondary-color);
    font-weight: 600;
}

/* Footer */

.top-footer{
    background-color: var(--footer-color);
}

.sub-footer{
    background-color: var(--secondary-color);
}

/* Social Icon */

.social-icon{
    color: white;
    font-size: 1.2rem;
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px 15px;
    aspect-ratio: 1/1;
}

.social-icon-big{
    padding: 10px;
}

.social-icon-small{
    padding: 14px;
}


